@import "tailwindcss";

@theme {
  /* Light Mode */
  --color-background: #FAF9F6;
  --color-foreground: #1A1A1A;

  --color-muted: #6E6E6E;
  
  --color-accent-blue-bg: #2563EB;
  --color-accent-blue-text: #2563EB;
  --color-accent-pink-text: #DB2777;

  /* font */
  --font-primary: "Plus Jakarta Sans", system-ui;
  --font-secondary: "Plus Jakarta Sans", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

/* dark mode theme variables */
.dark {
  --color-background: #0B0C10;
  --color-foreground: #F3F4F6;
  --color-muted: #9CA3AF;
  
  /* Update your dark mode accents to pop on a dark backdrop */
  --color-accent-blue-text: #3B82F6;
  --color-accent-pink-text: #F472B6;
}

footer {
  background: radial-gradient(white, blue );
}



